.config/dconf/
.config/ghostty/colors.conf
.config/themes/current
.config/fish/fish_variables
.config/waybar/_colors.scss
.config/waybar/style.css
.config/hypr/colors.conf
.config/hypr/style.conf
.config/hypr/drawers.conf
.config/hypr/drawers.lua
.config/walker/themes/*/_colors.scss
.config/walker/themes/*/style.css
.config/walker/config.toml
.config/hypr/hyprlock.conf
.config/vesktop/themes/shade-raid.theme.css
.config/swayosd/_colors.scss
.config/swayosd/style.css
.config/wlogout/_colors.scss
.config/wlogout/style.css
.config/swaync/style.css
.config/gtk-3.0/gtk.css
.config/gtk-4.0/gtk.css
.config/hypr/colors.lua
.config/hypr/style.lua
.config/hypr/autostart-personal.lua

# Python caches
__pycache__/
*.pyc


