.config/dconf/
.config/ghostty/colors.conf
.config/themes/current
.config/fish/fish_variables
.config/waybar/_colors.scss
.config/waybar/style.css
.config/hypr/colors.conf
.config/hypr/style.conf
.config/mako/config
